$font_text: "Yu Gothic", sans-serif;
$font_metadata: "Lora", sans-serif;

$color_primary: #F1A0C3;
$color_secondary: #2400FF;
$color_text: #000;
$color_light: #FFF;
$color_dark: #000;
$color_dark_md: #231815;
$color_dark_sm: #807E7E;
$color_gray: #D9D9D9;
$color_gray_darker: #C0C0C0;
$color_error: #FB0000;
$color_hover: #8C5512;
$color_hover_bg: #AAA;

$animate_timeout: 0.25s;