@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

@font-face {
  font-family: "Yu Gothic";
  src: url("./src/fonts/Yu Gothic Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Yu Gothic";
  src: url("./src/fonts/Yu Gothic Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
